[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pandas = "*"
jupyterlab = "*"
torchaudio = "*"
torchvision = "*"
pytorch-lightning = "*"
pytorch-nlp = "*"

[dev-packages]

[requires]
python_version = "3.10"
